.vertical-line {
  border-left: 6px solid white;
  height: 100%;
}

.basicmap-font {
  font-family: Satoshi,ui-sans-serif,system-ui,sans-serif;
}

.basicmap-font-bold {
  font-weight: bold;
}

.basicmap-item-box {
  border-radius: .75rem;
  /* background-color: rgb(214, 227, 238); */
}

/* Leaflet stuff */

.leaflet-container {
  /* width: 1000px; */
  height: 800px; /* <-- map height */
}

/* Ensure bg is transparent */
.leaflet-div-icon {
  background: none;
  border: none;
}

/* Overwrite leaflet's default */
.leaflet-popup-content-wrapper {
  background-color: rgb(24, 26, 27);
  color: #e8e6e3;
}

.leaflet-popup-tip {
  background-color: rgb(24, 26, 27);
}

.leaflet-popup-content p {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* List colors */

.searchlist-location {
  color: rgb(214, 210, 205);
  font-weight: bold;
}

.searchlist-type {
  /* color: rgb(72, 189, 205); */
  color: rgb(120, 189, 205);
}

.searchlist-address, .searchlist-coordinates, .searchlist-details, .searchlist-url, .searchlist-updated {
  color: rgb(157, 148, 135);
  font-size: 0.75rem;
}

.infobar-header {
  color: rgb(214, 210, 205);
  font-weight: bold;
  font-size: large;
  text-align: center;

}

.infobar-wrapper {
  background-color: rgb(15, 17, 17);
  border-color: rgb(121, 112, 99);
  border-width: 1px;
}

/* --- */

.button {
  /* background-color: rgb(156, 16, 85);
  border-color: rgb(169, 21, 83); */
  background-color: #c5306c
}

.inputbar {
  background-color: rgb(21, 23, 24);
  border-color: rgb(121, 112, 99);
  color: rgb(176, 169, 159);
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: rgb(176, 169, 159);
}