.vertical-line {
  border-left: 6px solid white;
  height: 100%;
}

.basicmap-font {
  font-family: Satoshi,ui-sans-serif,system-ui,sans-serif;
}

.basicmap-font-bold {
  font-weight: bold;
}

.basicmap-item-box {
  border-radius: .75rem;
  /* background-color: rgb(214, 227, 238); */
}

/* Leaflet stuff */

.leaflet-container {
  width: 800px;
  height: 640px; /* <-- map height */
}

/* Ensure bg is transparent */
.leaflet-div-icon {
  background: none;
  border: none;
}