.vertical-line {
  border-left: 6px solid white;
  height: 100%;
}

.basicmap-font {
  font-family: Satoshi,ui-sans-serif,system-ui,sans-serif;
}

.basicmap-font-bold {
  font-weight: bold;
}

.basicmap-item-box {
  border-radius: .75rem;
  /* background-color: rgb(214, 227, 238); */
}

/* Leaflet stuff */

.leaflet-container {
  width: 1000px;
  height: 800px; /* <-- map height */
}

/* Ensure bg is transparent */
.leaflet-div-icon {
  background: none;
  border: none;
}

/* List colors */

.searchlist-location {
  color: rgb(214, 210, 205);
}

.searchlist-type {
  /* color: rgb(72, 189, 205); */
  color: rgb(120, 189, 205);
}

.searchlist-address {
  color: rgb(157, 148, 135);
}

.inputbar {
  background-color: rgb(27, 29, 30);
  border-color: rgb(60, 65, 67);
  color: rgb(214, 211, 205);
}